<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>首页</title>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/me.css" rel="stylesheet" th:href="@{/css/me.css}">
    <link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<style>

    #bottom {
        position: fixed;
        bottom: 0;
        width: 100%; /* 让元素水平铺满整个页面 */

        text-align: center; /* 文本居中 */
    }
    @media (min-width: 992px) {
        .col-md-6 {
            width: auto;
        }
    }
    h3.ui.teal.header {
        color: #1890ff !important;
    }
    /* 调整 alltrips 的样式 */
    #alltrips {
        margin-top: 40px; /* 调整上边距，以避免覆盖导航栏 */
        padding-top: 20px; /* 可选：添加顶部内边距 */
    }

    /* 确保导航栏位于 alltrips 上方 */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* 确保导航栏在顶层 */
        /* 其他样式属性 */
    }
</style>
<body>
<!-- 导航 -->
<div th:replace="~{default/navigation :: navigation}"></div>

    <div class="ui container" style="display: grid; place-items: center; height: 50vh;">

        <div class="ui stackable grid" style="width: 1500px; border-radius: 10px;">


            <!--显示全部机票-->
            <div class="wide column" id="alltrips" style="width: 1150px; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <!-- header -->
                <div class="ui top attached segment" style="border-radius: 10px 10px 0 0;">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header" style="font-size: 18px; color: #1890ff;">班次</h3>
                        </div>
                    </div>
                </div>
                <!-- content -->
                <div class="ui attached segment" style="border-radius: 0 0 10px 10px;">
                    <table class="ui table" style="border-radius: 10px 10px 10px 10px;">
                        <thead>
                        <tr style="font-size: 13px;">
                            <th>航班名</th>
                            <th>起点</th>
                            <th>终点</th>
                            <th>出发时间</th>
                            <th>到达时间</th>
                            <th>商务舱票数</th>
                            <th>经济舱票数</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="trip:${allTrips}" style="font-size: 13px;">
                            <td th:text="${trip.trips_flight_name}"></td>
                            <td th:text="${trip.trips_start_station_name}"></td>
                            <td th:text="${trip.trips_end_station_name}"></td>
                            <td th:text="${#dates.format(trip.trips_start_time, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${#dates.format(trip.trips_end_time, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${trip.business_class_seat_num}"></td>
                            <td th:text="${trip.economy_class_seat_num}"></td>
                            <td>
                                <button><a href="confirm_order.html"
                                           th:href="@{/user/confirm_order/}+${trip.trips_id}">预定</a></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--显示分页信息-->
                <div class="modal-footer no-margin-top" th:if="${pageInfo!=null}" style="padding: 2px;display: flex; justify-content: space-between; align-items: center;">
                    <div style="flex: 1;">
                        <div class="col-md-6" style="font-size: 15px; float: none; text-align: center;">
                            当前第 [[${pageInfo?.getPageNum()}]]页,共 [[${pageInfo?.getPages()}]] 页.一共
                            [[${pageInfo?.getTotal()}]] 条记录
                        </div>
                    </div>

                    <ul class="pagination pull-right no-margin" style="font-size: 18px;">
                        <li th:if="${!pageInfo?.isIsFirstPage()}">
                            <a th:href="'/?pageNum=1'">首页</a>
                        </li>

                        <li class="prev" th:if="${pageInfo?.isHasPreviousPage()}">
                            <a th:href="'/?pageNum='+${pageInfo.getPrePage()}">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo?.getNavigatepageNums()}">
                            <a th:href="'/?pageNum='+${nav}" th:if="${nav != pageInfo.getPageNum()}"
                               th:text="${nav}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.getPageNum()}"
                                  th:text="${nav}"></span>
                        </li>

                        <li class="next" th:if="${pageInfo?.isHasNextPage()}">
                            <a th:href="'/?pageNum='+${pageInfo.getNextPage()}">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="'/?pageNum='+${pageInfo?.getPages()}">尾页</a>
                        </li>
                    </ul>
                </div>

            </div>



        </div>
    </div>


<!-- 底部 -->
<div id="bottom">
    <div th:replace="~{default/footer::footer}"></div>
</div>

<script src="../../static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/js/cityselect.js" th:src="@{/js/cityselect.js}"></script>
<script src="../../static/js/foundation-datepicker.js" th:src="@{/js/foundation-datepicker.js}"></script>
<script src="../../static/js/foundation-datepicker.zh-CN.js" th:src="@{/js/foundation-datepicker.zh-CN.js}"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>